<div class="col-md-12">

  <h2 class="text-center"> 我收藏的电影 </h2>

  <table class="table table-hover">
    <thead>
      <tr>
        <th> # </th>
        <th> Title </th>
        <th> Description </th>
        <th> Review Count </th>
        <th> Last Update </th>
      </tr>
    </thead>

    <tbody>
      <% @groups.each do |g| %>
        <tr>
          <td> # </td>
          <td> <%= link_to(g.title, group_path(g)) %> </td>
          <td> <%= g.description %> </td>
          <td> <%= g.reviews.count %> </td>
          <td> <%= g.updated_at %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
</div>
