<div class="jumnotron">
  <h1 class="title text-center">Movie-Review</h1>
  <p class="slogan text-center">Movie-Review是一个电影评论网站
    <br>
    对你喜欢或是不喜欢的电影留下你的评论
  </p>
  <p class="lead text-center"><a class="btn btn-lg btn-danger" href="/groups">立即进入</a></p>
</div>
