<div class="jumnotron">
  <h1 class="title">Movie-Review</h1>
  <p class="slogan">Movie-Review是一个电影评论网站
    <br>
    给你喜欢或是不喜欢的电影留下你的评论
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/groups">立即进入</a></p>
</div>
